#footer-div {
	border: 1px solid;
}

table.pricetable {
		border: 1px solid #aaa;
		border-spacing: 0px;
}

table.pricetable tr {
	border-collapse: collapse;
}
table.pricetable td {
		border: 1px solid #aaa;
		border-collapse: collapse;
}

body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.hello-label {
display: inline;
padding: .2em .6em .3em;
font-size: 14px;
font-weight: bold;
line-height: 1;
color: #fff;
text-align: center;
white-space: nowrap;
vertical-align: baseline;
border-radius: .25em;
}