{% include "head.django" %}
<div id = "content">
  <br>
  <input id = "email" placeholder = "e-mail" value = {{ email }}>
  <br>
  <input id = "passwd" type="password" placeholder = "пароль">
  <br>
  <input id = "passwdcopy" type="password" placeholder = "повторите пароль">
  <br>
  <input id = "shopname" placeholder = "имя магазина">
  <br>
  <input id = "synonyms" placeholder = "английский синоним">, желательно короткий<br>
  <button id = "sendform" onclick = "sendform()">Завершить регистрацию</button>
</div>
</body>
</html>