{% include "head.django" %}
{% verbatim %}
<div id = "output" ng-controller="TableChoice">
	<table class = "pricetable">
		<thead>
			<tr>
			<th>Номенклатура</th>
			<th>Кол-во</th>
			<th><span class = "glyphicon glyphicon-minus"></span></th>
			</tr>
		</thead>
		<tbody id = "tbodychoice">
			<tr ng-repeat="l in lines">
				<td ng-bind = "l.caption">
				</td>
				<td>
				<input id = "amount" class = "choise-input" type = "number" art-uid = "{{ l.id }}" value="{{ l.amount }}" ng-model = "l.amount" ng-change = "updateamount(l)">
				</td>
				<td>
					<button class="btn btn-info" ng-click="removeitem(l.id)"><span class = "glyphicon glyphicon-minus"></span></button>
				</td>
			</tr>
		</tbody>
	</table>
	<button class="btn btn-info" ng-click = "clear()">Очистить</button>
	<button class="btn btn-success">В потребности</button>
</div>
<div id = "output2">
</div>
{% endverbatim %}
{% include "footer.django" %}