{% include "head.django" %}
{% verbatim %}
<div id = "output" ng-controller="TableChoice">
<table class = "pricetable">
<tbody id = "tbodychoice">
<tr ng-repeat="l in lines">
	<td ng-bind = "l.caption">
	</td>
	<td>
	<button class="btn btn-info" ng-click="removeitem(l.id)"><span class = "glyphicon glyphicon-minus"></span></button>
	</td>
 </tr>
</tbody>
</table>
<button class="btn btn-success" ng-click = "clear()">Очистить</button>
</div>
<div id = "output2">
</div>
{% endverbatim %}
{% include "footer.django" %}