{% include "head.django" %}
{% verbatim %}
<div id = "output" ng-controller="TableChoice" style="display: table-cell;">
	<table class = "pricetable">
		<thead>
			<tr>
			<th>Номенклатура</th>
			<th>Кол-во</th>
			<th>Ед.</th>
			<th><span class = "glyphicon glyphicon-minus"></span></th>
			</tr>
		</thead>
		<tbody id = "tbodychoice">
			<tr ng-repeat="l in lines">
				<td ng-bind = "l.caption">
				</td>
				<td>
				<input id = "amount" class = "choise-input" type = "number" art-uid = "{{ l.id }}" value="{{ l.amount }}" ng-model = "l.amount" ng-change = "updateamount(l)">
				</td>
				<td>
				<span id = "unit">{{ l.unit }}</span>
				</td>
				<td>
					<button class="btn btn-info" ng-click="removeitem(l.id)"><span class = "glyphicon glyphicon-minus"></span></button>
				</td>
			</tr>
		</tbody>
	</table>
	<span>Коментарий к заявке:</span>
	<textarea id = "Комментарий" vg1cfield = "Комментарий" vg1ceditable = "true" style="display: table-cell; width: 100%;"></textarea>
	<button class="btn btn-info" ng-click = "clear()">Очистить</button>
	{% endverbatim %}
	{% if authorities.have %}
	<button class="btn btn-success" ng-click = "create_innerorder()">В заявку</button>
	{% else %}
	<button class="btn btn-danger">Авторизуйтесь что бы создать заявку</button>
	{% endif %}
</div>
<div id = "output2">
</div>
{% include "footer.django" %}