<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name='yandex-verification' content='6aa20153161df0f4' />
  <title>Торгуй легко</title>
  <link rel="stylesheet" href="/static/css/main.css">  
  <script src="//code.jquery.com/jquery-1.9.1.js"></script>
</head>
<body>
  <div id="nav-div">
    <ul>
      <li><a href="/">Главная</a></li>
      <li><a href="/myadmin/">Админка</a></li>
    </ul>
  </div>
  <br>
  <input id="username" placeholder="Логин">
  <input id="passw" placeholder="Пароль">
  <button id="button-signin">Войти</button>
  <a id="button-signup" href="/registration/">Зарегистрироваться</a>
  <br>
  <a id="whoweare" href="/who-we-are/">Кто мы такие и какие наши планы</a>
  <br>
  <a id="pr" href="/principles/">Узнайте наши принципы, что бы остаться с нами</a>
</body>
</html>
