	{% include "head.django" %}
	<div id = "authorities">
		{% if authorities.have %}
		Привет, {{ authorities.login }}!!!
		<button id="button-logout" onclick = "logout()">Выйти</button>
		{% else %}
		<input id="login" placeholder="Логин">
		<input id="pass" placeholder="Пароль">
		<button id="button-signin" onclick = "authorize()">Войти</button>
		<a id="button-signup" href="/registration/">Зарегистрироваться</a>
		{% endif %}
	</div>
	<br>
	<a id="whoweare" href="/who-we-are/">Кто мы такие и какие наши планы</a>
	<br>
	<a id="pr" href="/principles/">Узнайте наши принципы, что бы остаться с нами</a>
</body>
</html>
