{% include "head.django" %}
<div id = "page-choise" ng-controller = "PageChooser">
	{% verbatim %}
	<div class="control-group">
		<div class="controls">
			<div class="input-group">
				<input id = "substr" type="text" class="form-control" placeholder="Я ищу" ng-model = "t">
				<span class="input-group-btn">
					<button class="btn btn-default" type="button" ng-click="clearsubstr()"><span class = "glyphicon glyphicon-remove"></span></button>
				</span>
			</div>
		</div>
		<div id = "addposition" style="display:none">
		<p>Может быть Вы ошиблись, а может надо добавить позицию:</p>
		<button class="btn btn-info" ng-click = "createposition()">Добавить позицию</button>
		</div>
	</div>
	<div id = "output">
		<table class = "pricetable">
			<tbody>
				<tr ng-repeat="l in result.rows">
					<td id = "caption">{{ l[2] }}</td>
					<td><button class="btn btn-success" ng-click="addgoodtochoice(l)"><span class = "glyphicon glyphicon-plus"></span></button></td>
				</tr>
			</tbody>
		</table>
	</div>
	{% endverbatim %}
</div>
<div id = "page-amount" class="panel panel-default">
  <div id = "art-name" class="panel-heading">Panel heading without title</div>
  <div class="panel-body">
	<div class="control-group">
		<div class="controls">
		<div class="input-group">
		<span class="input-group-addon">Кол-во:</span>
		<input id = "amount" type="number" class="form-control" placeholder="0.000">
		<span id = "art-unit" class="input-group-addon"></span>
		</div>
			<button id = "btn-cancel" class="btn btn-danger" type="button" onclick="cancelchoise()">Отмена</button>
			<button id = "btn-add" class="btn btn-success" type="button" onclick="updateamount()">В подбор</button>
		</div>
	</div>
  </div>
</div>
{% include "footer.django" %}