{% include "head.django" %}
{% verbatim %}
<div id = "ajaxing" class = "ajaxing-dialog" style = "display : none">
<p>Идёт загрузка...</p>
<img src="/static/img/ajax-loader.gif">
</div>
<div id = "output">
	<div id = "page-order-list">
		<button class="btn btn-success" ng-click = "update()">Обновить</button>
		<table id = "tab" class = "pricetable" vg1csource = "ДокументСписок.ВнутреннийЗаказ">
			<thead>
				<tr>
					<th vg1cfield = "Дата">Дата</th>
					<th vg1cfield = "Номер">Номер</th>
					<th vg1cfield = "Ответственный">Ответственный</th>
					<th vg1ccommand = "open" vg1chref = "">open</th>
				</tr>
			</thead>
			<tbody id = "tbodychoice">
			</tbody>
		</table>
		<!--ul class="pagination">
			<li><a href="#">&laquo;</a></li>
			<li class="active"><a href="#">1</a></li>
			<li><a href="#">2</a></li>
			<li><a href="#">3</a></li>
			<li><a href="#">4</a></li>
			<li><a href="#">5</a></li>
			<li><a href="#">&raquo;</a></li>
		</ul-->
	</div>
</div>
<!--div id = "output2">
Hello!!!
</div-->
{% endverbatim %}
{% include "footer.django" %}