{% include "head.django" %}
{% verbatim %}
<div id = "ajaxing" class = "ajaxing-dialog" style = "display : none">
<p>Идёт загрузка...</p>
<img src="/static/img/ajax-loader.gif">
</div>
<div id = "output" ng-controller="InnerOrdersList">
	<div id = "page-order-list">
		<button class="btn btn-success" ng-click = "update()">Обновить</button>
		<table class = "pricetable">
			<thead>
				<tr>
					<th>Дата</th>
					<th>Номер</th>
					<th>Кто оформил</th>
					<th>Утв.</th>
					<th>Открыть</th>
				</tr>
			</thead>
			<tbody id = "tbodychoice">
				<tr ng-repeat="l in lines">
					<td id = "row-date" ng-bind = "l['дата']">
					</td>
					<td ng-bind = "l['номер']">
					</td>
					<td ng-bind = "l['ответственный']">
					</td>
					<td>
						<span ng-if="l['исполнитель'] != ''" class = "glyphicon glyphicon-ok">
	    				</span>
					</td>
					<td>
						<a href="/innerorder/{{ l['uid'] }}" class="btn btn-success"><span class = "glyphicon glyphicon-folder-open"></span></a>
						<!--button class="btn btn-success" ng-click="openinnerorder(l[0])"><span class = "glyphicon glyphicon-folder-open"></span></button-->
					</td>
				</tr>
			</tbody>
		</table>
		<ul class="pagination">
			<li><a href="#">&laquo;</a></li>
			<li class="active"><a href="#">1</a></li>
			<li><a href="#">2</a></li>
			<li><a href="#">3</a></li>
			<li><a href="#">4</a></li>
			<li><a href="#">5</a></li>
			<li><a href="#">&raquo;</a></li>
		</ul>
	</div>
	<div id = "page-order" style = "display : none">
		<div class="btn-group">
			<button class="btn btn-info" ng-click="closeorder()">Закрыть</button>
			<button class="btn btn-success" ng-click="closeorder()">Утвердить</button>
		</div>
		<br>
		Заявка <input type = "text" ng-readonly="true" ng-model = "order.docnumber"> от <input type = "date" ng-readonly="true" ng-model = "order.dateString">
		<table class = "pricetable">
			<thead>
				<tr>
					<th>№</th>
					<th>Номенклатура</th>
					<th>Кол-во</th>
					<th>Ед.</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="l in order.lines">
				<td ng-bind = "l[0] + 1"></td>
				<td ng-bind = "l[1]"></td>
				<td ng-bind = "l[2]"></td>
				<td ng-bind = "l[3]"></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<!--div id = "output2">
Hello!!!
</div-->
{% endverbatim %}
{% include "footer.django" %}