{% include "head.django" %}
<meta property = "orderuid" content="{{ orderuid }}">
{% verbatim %}
<div id = "ajaxing" class = "ajaxing-dialog" style = "display : none">
<p>Идёт загрузка...</p>
<img src="/static/img/ajax-loader.gif">
</div>
<div id = "output">
	<div id = "innerorder" vg1csource = "ДокументОбъект.ВнутреннийЗаказ" vg1cuid = "">
		<div class="btn-group">
			<a href="/orderlist/" class="btn btn-info">Закрыть</a>
			<!--button class="btn btn-info">Закрыть</button-->
			<!--button class="btn btn-info" ng-click="update()">Обновить</button-->
			<button class="btn btn-success" ng-click="closeorder()">Утвердить</button>
		</div>
		<br>
		Заявка <input value="" vg1cfield = "Number" vg1cuid = ""> от <input value="" vg1cfield = "Date" vg1cuid = "">
		<table>
			<tr>
				<td>Ответственный:</td><td><input value="" vg1cfield = "Ответственный" vg1cuid = "" style="width: 250px;"></td>
			</tr>
			<tr><td>Исполнитель:</td><td><input value="" vg1cfield = "Исполнитель" vg1cuid = "" style="width: 250px;"></td></tr>
		</table>
		<table class = "pricetable" vg1ctable = "Товары">
			<thead>
				<tr>
					<th vg1ccolumn = "Номенклатура">Номенклатура</th>
					<th vg1ccolumn = "Количество">Кол-во</th>
					<th vg1ccolumn = "ЕдиницаИзмерения">Ед.</th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
		<textarea vg1cfield = "Комментарий"></textarea>
	</div>
</div>
<!--div id = "output2">
Hello!!!
</div-->
{% endverbatim %}
{% include "footer.django" %}