{% if deguging %}
<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Торгуй легко</title>
  <link rel="stylesheet" href="/static/css/ez.css">  
  {% for l in links %}
    <link rel="stylesheet" href="/static/css/{{ l }}">  
  {% endfor %}
  <script src="//code.jquery.com/jquery-1.9.1.js"></script>
  <script src="/static/js/ez.js"></script>
  {% for s in scripts %}
    <script src="/static/js/{{ s }}"></script>
  {% endfor %}
</head>
<body>
{% endif %}
    <table class = "pricetable">
    <tbody>
    {% for i in goods %}
    <tr id = "{{ i.id }}">
    <td id = "caption">{{ i.caption }}</td>
    <td><button class="btn btn-success" onclick="addgoodtochoice('{{ i.id }}', '{{ i.caption }}')"><span class = "glyphicon glyphicon-plus"></span></button></td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
{% if deguging %}
</body>
</html>
{% endif %}