{% include "head.django" %}
<div>
<h2>Добро пожаловать к нам:))</h2>
<p>Мы ищем предпринимателей которые испозуют в своей работе 1С и хотят заняться онлайн торговлей.</p>
<p>Сейчас проект в стадии активной разработки, до окончательного релиза еще <b><span id = "release_time"></span></b> (1 мая 2014 00-00-00).</p>
<p>Чем раньше Вы присоединитесь к проекту тем больше будет реализованно Ваших пожеланий и тем сильнее проект будет соответсвовать Вашему бизнесу.</p>
<p>Ваши качества:</p>
<ul>
	<li><a href="https://ru.wikipedia.org/wiki/Keep_Your_Mind_Wide_Open">Open mind</a></li>
	<li><a href="https://ru.wikipedia.org/wiki/%D0%9A%D0%BE%D0%BD%D1%81%D1%82%D1%80%D1%83%D0%BA%D1%82%D0%B8%D0%B2%D0%B8%D0%B7%D0%BC_(%D1%84%D0%B8%D0%BB%D0%BE%D1%81%D0%BE%D1%84%D0%B8%D1%8F)">Конструктивизм</a></li>
	<li><a href="http://www.youtube.com/watch?v=hFKlyY1HXJU">Желание и умение зарабатывать</a></li>
</ul>
<p>Как помочь:</p>
<ul>
	<li>Расказать о том что Вы хотите от онлайн торговли (собирать заказы, размещать прайсы, <b>обмениваться документами с партнерами</b>, публиковать новости и т.д.)</li>
	<li>Регулярно обновлять <a href="/static/downloads/site_sync.epf">обработку 1С</a>, для работы с сайтом и тестировать</li>
	<li>Давать любую обратную связь: )) больше критики не стесняйтесь</li>
</ul>
<p>Что уже реализованно:</p>
<ul>
	<li>Синхронизация Номенклатуры с сайтом</li>
	<li>Живой сквозной поиск по Номенклатуре на главной странице</li>
</ul>
<p>С уважением, Гуляев Валентин.</p>
<p>По любым вопросам пишите: <a href="mailto:vgulaev@yandex.ru">vgulaev@yandex.ru</a></p>
<p><b>P. S.:</b> представте во что превратиться этот сайт через год:))</p>
</div>
{% include "footer.django" %}