body{
	margin: 0px;
	font-family: 'Open Sans', sans-serif;
}
header{
	/*height: 45px;*/
	background:rgb(30, 140, 190)
}
.openshop{
	background:rgb(54, 163, 202);
	color: rgb(255, 255, 255);
	font-size:14pt;
	float: right;
	/*vertical-align: middle;*/
	/*position:absolute; 
	top:50%;*/
	border: 0px;
}