span{
margin: 0px;
border: 0px;
padding: 0px;
}
body{
	margin: 0px;
	font-family: 'Open Sans', sans-serif;
}
header{
	/*height: 45px;*/
	background:rgb(30, 140, 190)
}
footer{
	width: 720px;
	margin: 0px auto;
}
.openshop{
	background:rgb(54, 163, 202);
	color: rgb(255, 255, 255);
	font-size:14pt;
	float: right;
	margin-top: 10px;
	border: 0px;
}
.searchpanel{
	position:absolute;
	margin-left: 150px;
	margin-top: 12px;
}
.searchinput{
	width: 315px;
	float: center;
}
.searchbutton{
	border: 0px;
	margin: 0px;
	background-image: url(bt.png);
	background-position: -80px -32px;
	background-repeat: no-repeat;
	background-color: #fff;
	width: 22px;
	height: 19px;
	padding: 0px;
	position:absolute;
	right: 1px;
	bottom: 4px;
}
.vertical-li{
	float: left;
}
.liitemsonmainpage{
	height: 220px;
	width: 220px;
	border: 4px solid black;
	list-style-type: none;
}
.nav-footer{
	list-style-type: none;
	margin-left: 20px;
}
#nav-footer-menu{
	/*margin: 0px auto;*/
}
#div-footer-menu{
	text-align: center;
}
#itemsonmainpage{
	padding: 0px;
	margin: 0px;
}
#headerdiv{
	height:45px;
	width: 720px;
	margin: 0px auto;
}
#body-div{
	width: 720px;
	margin: 0px auto;
}
#firstdiv{
	border: 4px solid black;
	height: 240px;
}
#seconddiv{
	border: 4px solid black;
}

td{
	border: solid;
	border-width: 1px;
	padding-bottom: 15px;
	padding-top: 15px;
}
table{
	width: 500px;
}
.price-cell{
	text-align: center;
}